<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>消費税計算アプリ</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1 style="background-color: #e3f2fd; height: 25px; font-size: 22px; padding: 10px; margin-bottom: 30px;">
    税抜き価格から税込価格 & 税込価格から税抜き価格へ計算できるよ！
  </h1>
  <div style="padding-left: 50px; padding-right: 50px;">
    <div id="app">
      <h2 style="margin-top: 30px; border: solid 1px; padding:20px; border-radius: 5px; box-shadow: 4px 4px lightgray; width: 500px;">
        税抜き価格：<input type="text" v-model="basePrice" style="height: 30px; width: 300px;">円
      </h2>
      <h2 style="margin-top: 30px; border: solid 1px ; padding:20px; border-radius: 5px; box-shadow: 4px 4px lightgray; width: 500px;">
        税込み価格：<input type="text" v-model="taxIncludedPrice" style="height: 30px; width: 300px;">円
      </h2>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>
